@import "../../root.css";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;

  width: 377px;
  height: 389px;

  color: var(--main-primary-color);
  background-color: var(--label-background-color);
}
