@import "../../root.css";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 231px;
  height: 389px;

  background-color: var(--sidebar-background-color);
}

.sidebar__hr {
  margin-top: 4px;
  margin-bottom: 13px;
  height: 1.3px;
  width: 161px;
  background-color: #5d9cec;
}
