@import "../../root.css";

.main-typograph {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;

  color: var(--main-primary-color);
}

.main__label {
  font-size: 14px;
  line-height: 16px;

  color: var(--main-primary-color);
}

.main_label--installments {
  font-size: 11px;
  line-height: 13px;

  color: #cecece;
}

.main__label--checkbox {
  display: flex;
  width: 100%;
}

.side-bar-typograph {
  font-size: 15px;
  font-style: italic;
  font-weight: 700;

  color: var(--sidebar-primary-color);
}

.side-bar__day {
  font-weight: 400;

  color: var(--sidebar-secundary-color);
}

.side-bar__results {
  color: var(--sidebar-secundary-color);
}
