:root {
  --main-primary-color: #656565;

  --label-primary-color: #000000;
  --label-background-color: #ffffff;


  --sidebar-primary-color: #3d75bb;
  --sidebar-secundary-color: #5d9cec;
  --sidebar-background-color: #D1DCE3;
}
